<!DOCTYPE html>
<html>
<head>
    <title>SSK</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script>
        window.markers = {{ markers|tojson }};
    </script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
</head>
<body>
    <div class="container">

    <div class="navbar">
        <div class="content">
            <h1>SSK</h1>
            <ul class="device-list">
                <h2>Devices</h2>
                {% for device in markers %}
                <li>
                    {{ device.machine_id }}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="map"></div>
    </div>
</body>
</html>