<!DOCTYPE html>
<html>
<head>
    <title>SSK</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet-draw/leaflet.draw.css') }}" />
    <script src="{{ url_for('static', filename='leaflet-draw/leaflet.draw.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
</head>
<body>
    <div class="container">

    <div class="navbar">
        <div class="content">
            <h1>SSK</h1>
                <h2>Drones</h2>
                <ul class="device-list" id="devices_list">
            </ul>
        </div>
    </div>
    <div id="map"></div>
    </div>
</body>
</html>